/* Page Wide Formatting */
h1{
    background-color: #c38d98;
    text-align: center;
}
body {
    background-color: #41B3A3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h2 {
    background-color: #E27D60;
    width: 30%;
    text-align: center;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

/* Table Formatting  */
table{
    width: 75%;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Footer Formatting */
.total-salary-section{
    border: white;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    ;
}